<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Fennec" Manufacturer="Ryan Fitzpatrick" Version="$(var.ProductVersion)" UpgradeCode="497378F4-364C-48D9-B7BE-3ECE42F247C7" Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Fennec is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="Fennec.ico" SourceFile="!(bindpath.publish)\Assets\Fennec.ico" />
    <Property Id="ARPPRODUCTICON" Value="Fennec.ico" />
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="Fennec" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="FennecShortcut" Name="Fennec" Target="[INSTALLFOLDER]Fennec.exe"
                  WorkingDirectory="INSTALLFOLDER" Icon="Fennec.ico" />
        <RemoveFolder Id="RemoveFennecMenu" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Fennec" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>
    <Feature Id="MainFeature" Title="Fennec" Level="1">
      <Files Include="!(bindpath.publish)\**" Directory="INSTALLFOLDER" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Package>
</Wix>
